<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>YouTube Video Downloader</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/darkly/bootstrap.min.css"
            rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body class="p-4">

<div class="container">
    <h1 class="app-title">YouTube Video Downloader</h1>

    <a href="{{ url_for('choose_download_folder_page') }}" class="btn btn-gradient mb-4">
        Choose Download Folder
    </a>
    <p><strong>{{ download_folder }} </strong> is used</p>

    <form action="{{ url_for('video_settings', download_folder=download_folder) }}" method="POST"
          class="mb-4 form-card">
        <label class="form-label"><strong>YouTube Link</strong></label>

        <input type="text" name="video_url" class="form-control mb-3"
               placeholder="Insert YouTube Link" autocomplete="off">
        <hr class="my-4">

        <label class="form-label"><strong>Video Quality Settings</strong></label>
        <select name="video_quality" class="form-select mb-3">
            {% for quality in video_quality %}
            <option value="{{ quality }}">{{ quality }}</option>
            {% endfor %}
        </select>
        {% if video_checkbox %}
        <input type="checkbox" name="video_checkbox" value="yes" class="form-check-input" id="videoCheckbox" checked>
        {% else %}

        <input type="checkbox" name="video_checkbox" value="yes" class="form-check-input" id="videoCheckbox">
        {% endif %}
        <label for="videoCheckbox" class="form-check-label">Download Video</label>
        {% if audio_checkbox %}
        <input type="checkbox" name="audio_checkbox" value="yes" class="form-check-input" id="audioCheckbox" checked>
        {% else %}

        <input type="checkbox" name="audio_checkbox" value="yes" class="form-check-input" id="audioCheckbox">
        {% endif %}
        <label for="audioCheckbox" class="form-check-label">Download Audio</label>
        <hr class="my-4">

        <label class="form-label"><strong>Custom Video Resolution</strong></label>
        <select name="video_resolution" class="form-select mb-2">
            {% for resolution in video_resolution %}
            <option value="{{ resolution }}">{{ resolution }}</option>
            {% endfor %}
        </select>
        <div class="form-check mb-3">
            {% if checkbox %}
            <input type="checkbox" name="custom_resolution" value="yes" class="form-check-input" id="customRes" checked>
            {% else %}

            <input type="checkbox" name="custom_resolution" value="yes" class="form-check-input" id="customRes">
            {% endif %}
            <label for="customRes" class="form-check-label">Use custom resolution</label>
        </div>

        <hr class="my-4">


        <label class="form-label"><strong>Video Container</strong></label>
        <select name="video_container" class="form-select mb-4">
            {% for container in video_container %}
            <option value="{{ container }}">{{ container }}</option>
            {% endfor %}
        </select>

        <hr class="my-4">


        <input type="submit" class="btn btn-info w-100 btn-download" value="Start Download">
    </form>

    <!-- Fortschrittsanzeige -->
    <div class="progress custom-progress">
        <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar" style="width: 0%;">0%
        </div>
    </div>
    <p id="progress-text" class="mt-3">Nothing Downloaded...</p>
    <a id="cancel-download" href="{{ url_for('abort') }}"
       class="btn btn-gradient mb-4" style="display: none;">
        Cancel Download
    </a>

    <h3>Console</h3>
    <div class="console-box">

        {% for command in console_socket %}
        <div class="text">
    <span>
        <strong class="console-text">[console]:</strong> {{ command }}
    </span>
        </div>
        {% endfor %}
        <div class="console" id="console">
        </div>
    </div>

    <h3>Download Queue</h3>
<ul id="queue" class="list-group mb-4"></ul>

</div>

<script>
var socket = io();
var cancelLink = document.getElementById('cancel-download');

socket.on('progress', function (data) {
    if (cancelLink.style.display === 'none') {
        cancelLink.style.display = 'inline-block';
    }

    if (data.message) {
        document.getElementById('progress-text').textContent = data.message;
        if (data.percent === '100%') {
            document.getElementById('progress-bar').classList.remove('progress-bar-animated');
            document.getElementById('progress-bar').classList.add('bg-success');
            cancelLink.style.display = 'none';
        }
        return;
    }

    let percent = parseFloat(data.percent);
    document.getElementById('progress-bar').style.width = percent + "%";
    document.getElementById('progress-bar').textContent = data.percent;
    document.getElementById('progress-text').textContent =
        `Progress: ${data.percent} | Speed: ${data.speed} | ETA: ${data.eta}`;
});

// Console
const consoleBox = document.getElementById("console");
const createMessage = (msg) => {
    const content = `
<div class="text">
    <span>
        <strong class="console-text">[console]</strong>: ${msg}
    </span>
</div>
`;
    consoleBox.innerHTML += content;
};

socket.on("console", (msg) => {
    createMessage(msg);
});

// Queue
socket.on("queue", function(queue) {
    let list = document.getElementById("queue");
    list.innerHTML = "";
    queue.forEach(videoName => {
        let li = document.createElement("li");
        li.textContent = videoName;
        list.appendChild(li);
    });
});

</script>
</body>
</html>
